*{
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(0, 0, 0,0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}
h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}
label{
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    font: 1em;
    color: #333;
}

input:focus, textarea:focus{
    border-color: #007bff;
    outline: none;
}

button{
    background-color: #007bff;
    color: #fff;
    border:none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    width: 100px;
}

button:hover{
    background-color: #0056b3;
}
#response-message{
    margin-top: 10px;
    text-align: center;
    color:#007bff;
}
.div{
    color: #ddd;
}